nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Task Manager
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href=urlFor('users')) All Users

    ul.navbar-nav
      li.nav-item
        a.nav-link(href=urlFor('newSession')) Sign In
      li.nav-item
        a.nav-link(href=urlFor('newUser')) Sign Up
      //- if isSignedIn()
      //-   li.nav-item
      //-     a.nav-link(href=urlFor('session') data-method='delete' rel='nofollow') Sign Out
      //- else
      //-   li.nav-item
      //-     a.nav-link(href=urlFor('newSession')) Sign In
      //-   li.nav-item
      //-     a.nav-link(href=urlFor('newUser')) Sign Up
