//- - const getInputName = (formObj, property) => `${formObj.name}[${property}]`


mixin formFor(options = {})
  - const method = options.method.toLowerCase();
  - const url = options.url.toLowerCase();
  - const isStandart = ['get', 'post'].includes(method);
  form(action= url method= isStandart ? method : 'post')
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block


mixin input(formObj, property, options = { as: 'text' })
  - const value = formObj.object[property] === undefined || property === 'password' ? '' : formObj.object[property]
  .form-group
    label= property
    input(name=property class='form-control' type=options.as value=`${value}`)
    if formObj.errors[property]
        .form-control-feedback= formObj.errors[property].map(({ message }) => message).join('. ')



mixin button(value = 'Submit', type = 'submit')
  .form-group.pt-3
    input(class='btn btn-primary btn-block' type=`${type}` value=`${value}`)
