extends /layouts/application.pug

block content
  .text-center
    h4.my-3 Filtering
    .container.text-left
      form(action='/tasks/' method='get')
        .card-group
          .card
            .card-body
              label Email contains:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='email')
          .card
            .card-body
              label Title contains:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='title')
          .card
            .card-body
              label Status:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='status')
          .card
            .card-body
              label Tags:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='tags')
          .card
            .card-body
              label Assigned To:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='assigned')
        button.btn.btn-block.btn-outline-primary.mt-3.mb-5(type='submit') Search


  .table-responsive
    table.table.table-stripped
      thead
        tr
          th Title
          th Status
          th Creator
          th Assigned to
          th Tags
      tbody
        if !tasks
          tr
            td= 'Dummy title'
            td= 'Dummy status'
            td= 'Dummy creator'
            td= 'Dummy worker'
            td= 'Dummy tag1, Dummy tag2'
        else
          each task in tasks
            tr
              td= task.name
              td= task.status
              td= task.creator
              td= task.assignedTo
              td= task.tags
