extends /layouts/application.pug

block content
  .text-center
    h4.my-3 Filtering
    .container.text-left
      form(action='/tasks/' method='get')
        .card-group
          .card
            .card-body
              label Email contains:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='email')
          .card
            .card-body
              label Title contains:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='title')
          .card
            .card-body
              label Status:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='status')
          .card
            .card-body
              label Tags:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='tags')
          .card
            .card-body
              label Assigned To:
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get' name='assigned')
        button.btn.btn-block.btn-outline-primary.mt-3.mb-5(type='submit') Search

  .container
    .table-responsive
      table.table.table-stripped
        thead
          tr
            th Title
            th Status
            th Creator
            th Worker
            th Tags
            th Actions
        tbody
          if tasks
            each task in tasks
              tr
                td= task.name
                td= task.status
                td= task.creator
                td= task.worker
                td= task.tagsString
                td
                  a.btn.btn-success.btn-sm.m-1(href=`/tasks/${task.id}`) View
                  a.btn.btn-primary.btn-sm.m-1(href=`/tasks/${task.id}/edit`) Edit

  //- .container
  //-   .table-responsive
  //-     table.table.table-stripped
  //-       thead
  //-         tr
  //-           th Title
  //-           th Status Id
  //-           th Creator Id
  //-           th Worker Id
  //-           th Tags
  //-           th Actions
  //-       tbody
  //-         if !tasks
  //-           tr
  //-             td= 'Dummy title'
  //-             td= 'Dummy status'
  //-             td= 'Dummy creator'
  //-             td= 'Dummy worker'
  //-             td= 'Dummy tag1, Dummy tag2'
  //-         else
  //-           each task in tasks
  //-             tr
  //-               td= task.name
  //-               td= task.taskStatusId
  //-               td= task.creatorId
  //-               td= task.assignedTo
  //-               td= task.tags
  //-               td
  //-                 a.btn.btn-success.btn-sm.m-1(href=`/tasks/${task.id}`) View
  //-                 a.btn.btn-primary.btn-sm.m-1(href=`/tasks/${task.id}/edit`) Edit
  //-                 //- a.btn.btn-danger.btn-sm.m-1(href=`/tasks/${task.id}/delete`) Del

 

