extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h4= task.name

  if task
    .text-center
      .container.text-center
        .card-group
          .card
            .card-header creator
            .card-body= task.creator
          .card
            .card-header status
            .card-body= task.status
          .card
            .card-header tags
            .card-body= task.tagsString
          .card
            .card-header worker
            .card-body= task.worker
        .card-group.mt-4
          .card
            .card-header Created At
            .card-body= task.createdAt
          .card
            .card-header Updated At
            .card-body= task.updatedAt
        .card.mt-4
          .card-header Description
          .card-body= task.description
        .card.mt-4
          .card-header Actions
          .card-body
            a.btn.btn-primary.m-1(href=urlFor('editTask', task.id)) Edit
            a.btn.btn-danger.m-1(href=urlFor('deleteTask', task.id) data-method='delete' data-confirm='Are you sure you want to delete task?') Del


