extends /layouts/application.pug

block content
  .text-center
    h4.my-3 Filtering
    .container.text-left
      .card-group
        .card
          .card-body
            h5.card-title Email contains:
            form
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get')
        .card
          .card-body
            h5.card-title Title contains:
            form
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get')
        .card
          .card-body
            h5.card-title Status:
            form
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get')
        .card
          .card-body
            h5.card-title Tags:
            form
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get')
        .card
          .card-body
            h5.card-title Assigned To:
            form
              input.form-control(type='text' placeholder='Search' aria-label='Search' method='get')
      button.btn.btn-block.btn-outline-primary.mt-3.mb-5(type='submit') Search

  .table-responsive
    table.table.table-stripped
      thead
        tr
          th Title
          th Status
          th Creator
          th Tags
          th Assigned to
      tbody
        if !tasks
          tr
            td= 'Create task model'
            td= 'new'
            td= 'Denis'
            td= 'database, model'
            td= 'Denis Strelkov'
        else
          each task in tasks
            tr
              td= user.getFullname()
              td= user.email
              td= user.createdAt
